{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Gráficas de Estatura</h2>
    </div>
</div>

<div class="container mt-4">
    <canvas id="myChart" width="400" height="200"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>


        /////////////////////////////  Funciones  /////////////////////////////////// 
        function GetMonths(name, records) {
            let months = [];
            records.forEach(record => {
                // Obtener los datos específicos del registro
                if (name == record.name)
                    {
                    // Agregar elemento al array
                    months.push(record.month);
                    }
            });

            return months;
        }

        function GetHieght(name, records) {
            let heights = [];
            records.forEach(record => {
                if (name == record.name)
                {
                    // Agregar elemento al array
                    heights.push(record.height);
                }
            })
            return heights;
        }

        /////////////////////////////  Datos  /////////////////////////////////// 
        const meses_esperado = {{ meses_esperado|safe}};
        const estatura_esperado = {{ estatura_esperado|safe}};
        const children = {{ children | safe }};
        const records = {{ records | safe }};

        console.log(records);
        console.log(children);

        
        /////////////////////////////  Crear lista datasets  /////////////////////////////////// 
        let datasets = [];
        let expectedDataset = {
            label: 'Esperada',
            data: meses_esperado.map((month, index) => ({ x: month, y: estatura_esperado[index] })),
            borderColor: 'rgba(255, 99, 132, 0.5)',
            borderWidth: 3,
            borderDash: [5, 5],
            fill: false
        };
        datasets.push(expectedDataset);

        children.forEach(child => {
            console.log(child);
            // Obtener los datos específicos del registro
            let months = GetMonths(child, records);
            let heights = GetHieght(child, records);

            // Crear un nuevo dataset para este registro
            let newDataset = {
                label: child,
                data: months.map((month, index) => ({ x: month, y: heights[index] })), 
                borderColor: 'rgba(70, 180, 230, 0.8)',
                borderWidth: 3,
                fill: true
            };

            // Agregar el nuevo dataset a la lista de datasets
            datasets.push(newDataset);
        });

        console.log(datasets);


        /////////////////////////////  Crear el gráfico con Chart.js  /////////////////////////////////// 
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: datasets
            },
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Edad (meses)',
                            font: {
                                size: 20,
                                weight: 'bold'
                            }
                        },
                        ticks: {
                            stepSize: 12 
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Estatura (cm)',
                            font: {
                                size: 20,
                                weight: 'bold'
                            }
                        },
                        ticks: {
                            stepSize: 10 
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            font: {
                                size: 16,
                            }
                        }
                    }
                },
                interaction: {
                    mode: 'index',
                    intersect: false
                }
            }
        });


    </script>
</div>


{% endblock %}
