{% extends "base.html" %}

{% block content %}

<script>
    function filterRecords() {
        let selectedChild = document.getElementById("child").value;
        let rows = document.querySelectorAll("table tbody tr");

        rows.forEach(row => {
            let childName = row.getAttribute("data-child-name");
            if (selectedChild === "" || childName === selectedChild) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>

<div class="container mt-4">
    <h2>Dashboard</h2>
    </div>

    <form>
        <div class="form-group">
            <label for="child">Persona</label>
            <select id="child" name="child" class="form-control" onchange="filterRecords()">
                <option value="">Todos</option>
                {% for child in children %}
                    <option value="{{ child.name }}">{{ child.name }}</option>
                {% endfor %}
            </select><br>
        </div>
    </form>

    <div class="row mb-4">
        <div class="col">
            <a href="{{ url_for('create_record') }}" class="btn btn-primary">Agregar registro</a>
        </div>
    </div>

    {% if records %}
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Edad (meses)</th>
                        <th>Estatura (cm)</th>
                        <th>Persona</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record, child_name in records %}
                        <tr data-child-name="{{ child_name }}">
                            <td>{{ record.month }}</td>
                            <td>{{ record.height }}</td>
                            <td>{{ child_name }}</td>
                            <td>
                                <form action="{{ url_for('delete_record', record_id=record.id) }}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <p>No hay registros disponibles. Comience agregando un nuevo registro.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

