{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-1 text-light">Control de Estatura</h1>
    <p class="lead text-light">Registre y visualice la evolución de la estatura de sus hijos a lo largo de los años.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('dashboard') }}" role="button">Dashboard</a>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/590011/pexels-photo-590011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Control de Estatura">
                <div class="card-body">
                    <h5 class="card-title">Gráficas Interactivas</h5>
                    <p class="card-text">Visualiza el progreso de tus hijos con gráficas claras e interactivas.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/7456799/pexels-photo-7456799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Gráficas Interactivas">
                <div class="card-body">
                    <h5 class="card-title">Registre en un solo lugar</h5>
                    <p class="card-text">Guarde las mediciones suyas o de sus hijos de manera sencilla y accesible.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/10494313/pexels-photo-10494313.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Acceso Seguro">
                <div class="card-body">
                    <h5 class="card-title">Acceso Seguro</h5>
                    <p class="card-text">Tus datos están protegidos y son privados, mediante un sistema robusto de autenticación y encriptación.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
